import java.util.Scanner;

public class How_Many_Characters_In_Name
{
    public static void main(String[] args)
    { 
        String name = "";
        Scanner sc = new Scanner(System.in) ;
        name = sc.nextLine();
        System.out.println(name.length());
        
    }
}
